SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_service_role_key
SUPABASE_ANON_KEY=your_anon_key
PORT=3000
NODE_ENV=development
WHATSAPP_API_KEY=
WHATSAPP_API_URL=
EXPO_ACCESS_TOKEN=
BRANCH_ID_PUCHONG=
BRANCH_ID_KOTA_BHARU=
